@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    /*background-image: url('https://source.unsplash.com/1600x900/?landscape');*/
    font-size: 110%;
}   

div.card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 350px;
    transform: scale(0.8);
    margin: 1em;
}

div.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 19=00px);
}

.temp {
    margin: 0;
}
button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;

}

button:hover {
    background: #7c7c7c6b;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

input {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background-color: #7c7c7c2b;
    color: white;
    caret-color: white;
    font-family: inherit;
    font-size: 105%;
}

.description {
    text-transform: capitalize;
}

.icon {
    margin: 0;
    width: 60px;
}

.flex {
    padding: 0;
    display: flex;
    align-items: center;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;

}

.weather.loading:after {
    visibility: visible;
    content: "Loading";
    color: white;
    position: absolute;
    top: 0%;
}

h1 {
    color: rgb(166, 165, 165);
    font-size: 200%;
    margin: 0;
}

p {
    color: white;
    font-size: 100%;
    margin: 0;
    margin-bottom: 2rem;
    font-style: italic;
}

@media screen and (min-width: 679px) {
    div.card {
        transform: scale(1.2);
    }
}